/*common start*/
body{
	font-family:'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:#898989;
	padding-top: 111px;
}

   
/*common end*/
/*hearderstart*/
.c_padding{
		padding-top: 100px;
   		 padding-bottom: 120px;
}
header{
		background-color: #000;
		padding: 20px 0;
		
}
.c_nav{

}
.navbar-toggler-icon{
	background-color: #fff;
}

.logo{

    margin: -29px 35px;
    width: 42%;

}
.menu{

}
.menu ul li a{
	font-size: 15px;
	font-weight: 800;
	color: #fff !important;
	padding: 0 30px !important;

}
.menu ul li:last-child a{
		padding-right: 0!important;
}
.menu ul li a:hover{
			color: #eee739 !important;
}
/*hearder end*/
.slider{
		background-color: #fcdb00;
		padding-bottom: 100px;
		margin-top: -15px;
}
.c_ind{
	bottom:-80px;
	padding: 3px;
}
.c_ind [data-bs-target]{
	width: 15px;
	height: 15px;
	border-radius: 50%;
 
}

.s_text{
		margin-top: 117px;
}
.s_text h1{
		font-size: 24px;
		font-weight: 700;
		color: #000000;
}
.s_text h2{
		margin: 27px 0;
		font-size: 20px;
		font-weight: 400;
		color: #000000;
}
.s_text p{
		marker-bottom:35px;
		color: #000000;

}
.c_submit{
 	width: 100%;
 	height: 47px;
 	margin-top: 30px;
 	background-color:#000;
 	 font-family:'pt sans',sans-serif;
 	 font-size: 16px;
 	 font-weight: 700;
 	 color: #fff;
  	 text-transform: uppercase;
}
.c_submit:hover{
	background-color: #fff;
}
.s_icon{
		color: black;
    font-size: 30px;
		 
}
.s_icon ul li{
	margin-right:30px !important;
}
.s_icon ul li i{
		font-size: 42px;
		color: #010101;
		transition:.3s;
}
.s_icon ul li i:hover{
		transform: scale(.8);
		color :white!important;
}
.s_img{

}
.s_img img{
			    margin-top: 40px;
}
/*feature s*/
/*contact us*/
.about_us{
	background-color: #e6e5be
}
.b_h1{

    color: #000;
    font-size: 46px;
    margin: 56px;
}
.b_h2{

    margin-top: 63px;
    font-size: 20px;
    color: #000;	
}
.b_text2{
		 margin-top:41px;
	    font-size: 17px;
	    color: #000;	
}
.call{
	background-color: #f8c12c;
    border-radius: 6px;
    color: #150202;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.52px;
    line-height: 1.846;
    padding: 9px 28px 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease 0s;
}
.b_img{

    margin-top: 90px;
    margin-left: 133px;
}
.service2{
	background-color:#000;
	padding-bottom: 52px; 
}
.service1{

    text-align: center;
    color: #000000;
    margin: 70px;
}
.s_service{
	    margin-top: 82px;
}
.f_img{
	margin-bottom: 30px;

}
.contant_h3{
		color: #fff;
}
.contant_p{
		color: #fff;
}
.feature{
	    background-color: #efed1e87;;
	    padding: 1%;
}
.feature1{
	
    text-align: center;
    margin: 45px;
    color: #000;
}


.feature2{
	background-color: #ff8c00ad; 
	padding: 66px;
}

.s_feature:hover{
    background-color: #ff8c00ad;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     transition: .3s;

}
}
.s_img{
	margin-top: 79px;
}

.f_h3{
		color: #000;
		margin-top: 40px;
}
.f_p{
		color: #000;
}

.footer{
	background-color: #000;
}
.f_footer{
	color: #fff;	
    margin-top: 104px;
    padding-bottom: 60px;
}
.footer_icon ul li a{
	
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    width: 89px;
    height: 75px;
    padding: 4px 5px;
}
.footer_icon ul li a:hover{
	background-color:#8e8e8e; 
}
.p_h3{

    text-align: center;
    margin: 29px;
}
.p_p{
	text-align: center;
}